/* home page */
.admin {
  padding: 30px;
}
.orderHistoryTable {
  padding: 30px;
}
.home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(243, 243, 243, 0.52), #fee92f),
    url(https://sandbox-uploads.imgix.net/u/1629390135-2fc4cab407a794c1e9d9c98ff6ab1740?w=600);
  background-size: cover;
  background-position: center center;
  background-color: rgba(141, 44, 44, 0.25);
}

.pagination {
  display: flex;
  flex: 1;
  justify-content: center;
}

.pageHeader {
  font-family: "Bungee Shade", cursive;
  font-size: 1.5rem;
  margin-left: 5rem;
}

.admin_header {
  text-align: left;
  margin-left: 5rem;
}

.admin_user_title,
.admin_title {
  font-family: "Bungee Shade", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
}
.admin_order_detail {
  font-family: "Cabin Sketch", cursive;
}
.order_history {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
}

.container {
  width: 100vw;
  height: 12%;

  align-items: center;
}

.navbar {
  width: 100%;

  text-align: right;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: 3rem;
}

li a {
  display: block;
  padding: 8px;
  color: black;
  font-family: "Bungee Shade", cursive;
  font-size: 1.5rem;
}

.row {
  display: flex;
  height: 80%;
  align-items: center;
  padding-left: 5rem;
}

.title {
  font-family: "Bungee Shade", cursive;
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  padding-top: 1rem;
  font-family: "Bungee Shade", cursive;
  font-size: 2rem;
}

/* Cart items styles */
.cart_Items {
  width: 600px;
  margin-bottom: 1rem;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 8px #ff5722;
  border-radius: 10px;
  padding: 1.5rem;
}

.cart_Items_img {
  width: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.cart_Items_details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #303841;
}

.details_name {
  font-family: "Bungee Shade", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.details_desc {
  font-family: "Cabin Sketch", cursive;
  font-size: 0.8rem;
}

.details_price {
  font-family: "Bungee Shade", cursive;
  font-size: 0.8rem;
  font-weight: bold;
}

.cart_Items_actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem_qty {
  display: flex;
  align-items: center;
}

.cartItem_qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #ff5722;
  outline: none;
}

.deleteBtn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: #00adb5;
  cursor: pointer;
  transition: all ease-in-out 1s;
  outline: none;
}

.material-icons:hover {
  transform: scale(1.2) rotate(50deg);
  color: #00adb5;
  cursor: pointer;
}

/* for cart summary section */
.shopping-cart {
  margin-left: 2rem;
}
.clearBtn {
  padding: 10px 17px;
  border: 1px solid #00adb5;
  border-radius: 10px;
  background-color: #00adb5;
  color: white;
  font-family: "Cabin Sketch", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.shopping-cart-title {
  font-family: "Bungee Shade", cursive;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart {
  margin: 2rem auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.cartItems {
  flex: 0.7;
  margin-right: 1rem;
}

.cart_summary {
  height: 250px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem;
  background-color: white;
  box-shadow: 0 2px 8px #ff5722;
  border-radius: 10px;
}

.summary_title {
  font-family: "Bungee Shade", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3.5rem;
}

.summary_price {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.summary_price span:nth-child(1) {
  font-family: "Bungee Shade", cursive;
  font-size: 0.9rem;
  flex: 0.6;
}

.summary_price span:nth-child(2) {
  font-family: "Bungee Shade", cursive;
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkoutBtn {
  padding: 10px 17px;
  border: 1px solid #00adb5;
  border-radius: 10px;
  background-color: #00adb5;
  color: white;
  font-family: "Cabin Sketch", cursive;
  font-size: 1.2rem;
  margin-left: 2.8rem;
  font-weight: bold;
  cursor: pointer;
}

/* .checkoutBtn:focus {
  outline: none;
  border: 1px solid lightblue;
} */

.checkoutBtn:hover {
  opacity: 0.75;
}

/* for single product */
.product_card {
  display: flex;
  flex-wrap: wrap;
}

.for_Product {
  width: 650px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px #ff5722;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}
.product_img {
  width: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.product_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_title {
  font-family: "Bungee Shade", cursive;

  font-size: 2rem;
  font-weight: bold;
  color: #303841;
}

.product_desc,
.product_status {
  font-family: "Cabin Sketch", cursive;
  font-size: 0.85rem;
  color: #303841;
}

.product_desc {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 70px;
  overflow: hidden;
}
.product_price {
  font-family: "Bungee Shade", cursive;
  font-size: 0.85rem;
  font-weight: bold;
  color: #303841;
}
.product_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.button_btn {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #00adb5;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: "Cabin Sketch", cursive;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}
.button_btn:hover {
  opacity: 0.5;
}

.for_Item {
  width: 400px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px #ff5722;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}

.Item_title {
  font-family: "Bungee Shade", cursive;

  font-size: 1.5rem;
  font-weight: bold;
  color: #303841;
}
/* for pop up login ============================== */
/* =============================================== */
.modal-title {
  font-family: "Bungee Shade", cursive;
}

.btn-default {
  font-family: "Cabin Sketch", cursive;
}

.dropdown .dropdown-menu {
  background-color: transparent;
  border: none;
}

/* sort button ============================== */
/* =============================================== */

.sortButton {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #00adb5;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: "Cabin Sketch", cursive;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}

.sortButton:hover {
  opacity: 0.5;
}

.btn {
  display: inline-block;
  width: 150px;
  padding: 0.5rem;
  border: none;
  background-color: black;
  border-radius: 15px;
  color: white;
  font-family: "Cabin Sketch", cursive;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
}

/* for category ================================== */
.category-title {
  display: inline;
  font-family: "Bungee Shade", cursive;
  font-weight: bold;
  margin-left: 5rem;
}

.sortButton_container {
  float: right;
  margin-right: 5rem;
}

.category_flavor_title {
  font-family: "Bungee Shade", cursive;
  color: black;
  margin-left: 5rem;
  margin-top: 3rem;
}

.category_flavor_title:hover {
  color: #00adb5;
}
.line_break {
  height: 20px;
}

.product_name {
  font-family: "Cabin Sketch", cursive;
  color: black;
}

.product_name:hover {
  color: #00adb5;
}

.search_container {
  margin-left: 5rem;
}

.searchTitle {
  font-family: "Bungee Shade", cursive;
}
